// .welcome{
//     background-image: url(../../asset/images/tech.jpg);
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-size: contain;
//     background-repeat: no-repeat;  
//     width: fit-content;   
//    h1{
//     // font-size: 1.0rem;
//     // font-weight: $fw-n;
//     // color: $dark-blue;
//     // line-height: 1.5;
//     text-align: center;

      
//     span{
//         @include sans-serif($fs: 5.5rem,  $color:$accent);
//         display: block;
    
//    }
//    &::before,
//    &::after{
//     content: '';
//     display: block;
//     width: 60%;
//     height:1px;
//     background: $dark-blue;
//    }

//    &::before{
//     margin: 0 auto 2em;
//    }
//    &::after{
//     margin: 2em auto 0;
//    }
//    }


// }

.my-img{
  height: 50%;
  width: 50%;
  
}

.welcome{
  // font-family: 'Dancing Script', cursive;
   // font-family: 'Barlow Condensed', sans-serif;
  // font-family: 'Konkhmer Sleokchher', cursive;
  // font-family: 'Merriweather', serif;
  // font-family: 'PT Sans', sans-serif;
  // font-family: 'Rakkas', cursive;
  // display: flex;
  // justify-content: space-between;
 
   h1{
    margin-left: 50px;
    margin-bottom: -60%;
    text-align: center;
    color:rgb(199, 199, 24);
    font-size: 5rem;
     line-height: 550px;
     font-family: poppins;
   }

   background: url(../../asset/images/before.jpg);
   background-size:40%, 100%, 40%, 100%;
  //  background-position: top;
   background-repeat: no-repeat;
   
 
 

}

@media only screen and (max-width:200px){
  
.welcome{
 
  h1{
   text-align: center;
   color: $accent;
    margin-right: 10rem;
    font-family: poppins
    ;
    font-size: 10px;
 
   
  }



}
}

